  <main class="container-fluid mt-3">
     <div class="row justify-content-around">
      <div class="col-11 mb-3">
        <div class="row postRow">

          <div class="postHeaderUser">
            <p>About this site</p>
            <p>Created by Matt Lawhorn on 10/11/22 @ 11:34 AM</p>
          </div>

          <div class="postContent">
            <p>This website was created for Challenge 14 for the UT Austin Coding Bootcamp.</p>
          </div>
        </div>
      </div>
    </div>
  </main>