  <main class="container-fluid mt-3">
    <div class="row justify-content-around">
      <div class="col-11 mb-3 d-flex flex-column align-items-center">
        <div class="row postRow">
          <div class="postHeaderUser">
            <p>Edit Your Old Post</p>
            <div class="buttonMatt" id="editpostButton">Submit Edit</div>
          </div>
          <div class="postContent" id="">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 d-flex flex-column">
                  <input class="mb-2" type="text" id="editTitle" value="{{edittedpostData.posttitle}}"/>
                  <div class="form-group">
                    <textarea class="form-control" id="editBody" rows="4" maxlength="255">{{edittedpostData.postbody}}</textarea>
                  </div>
                </div>
              </div>
            </div>       
          </div>
        </div>
        <div class="postHeaderUser d-flex justify-content-center buttonMatt" id="deletepostButton">
          <p>Delete This Post</p>
        </div>
      </div>
    </div>
  </main>