  <main class="container-fluid mt-3">
     <div class="row justify-content-around">

      <div class="col-11 mb-3">

        <div class="row postRow">

          <div class="postHeaderUser">
            <p>Log-In</p>
            <div class="buttonMatt" id="logmeinButton">Submit</div>
          </div>

          <div class="postContent" id="loginBox">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 d-flex justify-content-center mb-1">
                  <input class="customThing" type="text" id="loginUsername" placeholder="JohnnyMo1"/>
                </div>
                <div class="col-sm-6 d-flex justify-content-center mb-1">
                  <input class="" type="password" id="loginPassword" placeholder="password"/>
                </div>
              </div>
            </div>
          </div>

            
            
        </div>

        <div class="row postRow">

          <div class="postHeaderUser">
            <p>Sign-Up</p>
            <div class="buttonMatt" id="signmeupButton">Submit</div>
          </div>

          <div class="postContent" id="signupBox">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 d-flex justify-content-center mb-1">
                  <input class="customThing" type="text" id="loginUsername" placeholder="Username"/>
                </div>
                <div class="col-lg-3 d-flex justify-content-center mb-1">
                  <input class="" type="password" id="loginPassword" placeholder="Email"/>
                </div>
                <div class="col-lg-3 d-flex justify-content-center mb-1">
                  <input class="" type="password" id="loginPassword" placeholder="Password"/>
                </div>
                <div class="col-lg-3 d-flex justify-content-center mb-1">
                  <input class="" type="password" id="loginPassword" placeholder="Confirm Password"/>
                </div>
              </div>
            </div>       
          </div>

        </div>

      </div>

    </div>
  </main>