  <main class="container-fluid mt-5">
     <div class="row justify-content-around">
      <div class="col-5 rounded mt-1 mb-3">

        <div class="mainBufftan row justify-content-center align-items-center mb-5 cloud">
          <p>Left Column</p>
        </div>

      </div>

      <div class="col-md-auto align-self-center justify-content-center align-items-center rounded">

        <div class="row justify-content-center align-items-center">
          <p>Right Column</p>
        </div>

      </div>
    </div>
  </main>