  <main class="container-fluid mt-3">
     <div class="row justify-content-around">

      <div class="col-11 mb-3">

        <div class="row postRow">

          <div class="postHeaderUser">
            <p>Log-In</p>
            <div class="buttonMatt" id="logmeinButton">Submit</div>
          </div>

          <div class="postContent" id="loginBox">
            <input class="" type="text" id="loginUsername" value="JohnnyMo1"/>
            <input class="" type="password" id="loginPassword" value="pass"/>
          </div>

        </div>

        <div class="row postRow">

          <div class="postHeaderUser">
            <p>Sign-Up</p>
            <div class="buttonMatt" id="signmeupButton">Submit</div>
          </div>

          <div class="postContent" id="signupBox">
            <input class="" type="text" id="email" value="s@aol.com"/>
            <input class="" type="password" id="password" value="pass"/>          
          </div>

        </div>

      </div>

    </div>
  </main>