  <main class="container-fluid mt-3">
    <div class="row justify-content-around">

      <div class="col-11 mb-3">


        <div class="row postRow">

          <div class="postHeaderUser">
            <p>Write a New Post</p>
            <div class="buttonMatt" id="newpostButton">Submit</div>
          </div>

          <div class="postContent" id="">
            <div class="container-fluid">
              <div class="row">

                <div class="col-lg-6 d-flex flex-column">
                  <input class="mb-2" type="text" id="postTitle" placeholder="Post Title"/>
                  <div class="form-group">
                    <textarea class="form-control" id="postBody" placeholder="Max 255 Characters" rows="3" maxlength="255"></textarea>
                  </div>
                </div>
              </div>
            </div>       
          </div>

        </div>

      </div>

    </div>
  </main>